---
Project Repository

Project Assessment for <em><strong>Applied Statistics</strong></em> module on <em><strong>Higher Diploma in Science in Computing in Data Analytics at ATU</strong></em>. 

Submitted by: Agnieszka Waszczuk 

Lecturer: Ian McLoughlin

---

In [10]:
<img src="photo2.jpg" style="width:1128px; height:191px"/>

SyntaxError: invalid syntax (3933259482.py, line 1)

Complete the project in a single notebook called project.ipynb in your repository. The same style should be used as detailed above: explanations in MarkDown and code comments, clean code, and regular commits. Use plots as appropriate.

In this project, you will analyze the PlantGrowth R dataset. You will find a short description of it on Vicent Arel-Bundock's Rdatasets page. The dataset contains two main variables, a treatment group and the weight of plants within those groups.

Your task is to perform t-tests and ANOVA on this dataset while describing the dataset and explaining your work. In doing this you should:

1. Download and save the dataset to your repository.

2. Describe the data set in your notebook.

3. Describe what a t-test is, how it works, and what the assumptions are.

4. Perform a t-test to determine whether there is a significant difference between the two treatment groups trt1 and trt2.

5. Perform ANOVA to determine whether there is a significant difference between the three treatment groups ctrl, trt1, and trt2.

6. Explain why it is more appropriate to apply ANOVA rather than several t-tests when analyzing more than two groups.

In [1]:
# Data frames.
import pandas as pd

In [2]:
# Read the dataset.
plant_growth = pd.read_csv('PlantGrowth.csv', header=None)

In [3]:
plant_growth = pd.read_csv('PlantGrowth.csv')
print(plant_growth)

    rownames  weight group
0          1    4.17  ctrl
1          2    5.58  ctrl
2          3    5.18  ctrl
3          4    6.11  ctrl
4          5    4.50  ctrl
5          6    4.61  ctrl
6          7    5.17  ctrl
7          8    4.53  ctrl
8          9    5.33  ctrl
9         10    5.14  ctrl
10        11    4.81  trt1
11        12    4.17  trt1
12        13    4.41  trt1
13        14    3.59  trt1
14        15    5.87  trt1
15        16    3.83  trt1
16        17    6.03  trt1
17        18    4.89  trt1
18        19    4.32  trt1
19        20    4.69  trt1
20        21    6.31  trt2
21        22    5.12  trt2
22        23    5.54  trt2
23        24    5.50  trt2
24        25    5.37  trt2
25        26    5.29  trt2
26        27    4.92  trt2
27        28    6.15  trt2
28        29    5.80  trt2
29        30    5.26  trt2

In [5]:
# Display information about the dataset. 
plant_growth.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   rownames  30 non-null     int64
 1   weight    30 non-null     float64
 2   group     30 non-null     object
dtypes: float64(1), int64(1), object(1)
memory usage: 852.0+ bytes

In [ ]:
# Checking for null entries in each column.
null_counts = plant_growth.isnull().sum()

# Display the count of null values in each column.
print("Null counts in each column:")
print(null_counts)

#ref: https://www.geeksforgeeks.org/how-to-count-the-number-of-nan-values-in-pandas/

Null counts in each column:
rownames    0
weight      0
group       0
dtype: int64

In [7]:
# Checking first few rows.
plant_growth.head()

   rownames  weight group
0         1    4.17  ctrl
1         2    5.58  ctrl
2         3    5.18  ctrl
3         4    6.11  ctrl
4         5    4.50  ctrl

In [ ]:
# Printing summary of dataset.
plant_growth.describe()

        rownames     weight
count  30.000000  30.000000
mean   15.500000   5.073000
std     8.803408   0.701192
min     1.000000   3.590000
25%     8.250000   4.550000
50%    15.500000   5.155000
75%    22.750000   5.530000
max    30.000000   6.310000